@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  height: 100vh;
  line-height: 21px;
  background-color: #e5e5e5;
  color: #949494;
  background-image: url("../img/bg.png");
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header--top {
  display: flex;
  padding: 11px 0 9px 0;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e5e5e5;
}

.address-clinic {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #333333;
  margin-left: 173px;
}

.address-clinic::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/uycha.png");
  margin: 0 9px;
}

.tel {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tel-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  transition: 0.3s ease;
}

.tel-link:hover {
  color: #FFBD54;
}

.tel-link:active {
  color: #333333;
  opacity: 0.6;
}

.tel-link::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/Vector.png");
  margin: 0 9px;
}

.two-tel::before {
  width: 4px;
  height: 4px;
  background-image: url("../img/ellips.png");
}

.work-date {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.work-date::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/schedule.png");
  margin-right: 7px;
}

.work-date--time {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #333333;

}

.work-date--time--left {
  margin-right: 17px;

}

.header-bottom {
  background-color: #fff;

}

.header-bottom-content {
  display: flex;
  position: relative;
  padding: 20px 0;
}

.logo-link {
  display: block;
  position: absolute;
  top: -20px;
  transition: 0.36s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-img {
  display: block;
}


.site__nav--list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.site__nav--item {
  margin: 0 27px;
}

.site__nav--item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  transition: 0.3s ease;
}

.site__nav--item-link:active, .footer__bottom--link:active {
  opacity: 0.6;
}

.site__nav--item-link:hover, .footer__bottom--link:hover {
  box-shadow:  0 3px 0 0 yellow;
}

.footer__bottom--link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
}

.footer__bottom--link::before {
  display: inline-block;
  width: 23px;
  height: 20px;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/pet.png");
  margin-right: 4px;
}

.site__nav {
  padding-left: 177px;
  margin-left: auto;

}

.site__nav--item--active::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/baliqcha.png");
  margin-right: 12px;
}

.site__nav--item--active {
  display: flex;
  align-items: center;
}

.hero__content {
  width: 608px;
  margin-right: 45px;
  margin-left: auto;

}

.hero__content--heading {
  margin: 0 0 29px 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero-span {
  display: block;
  color: #78C0DE;
}

.hero-text {
  max-width: 495px;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin: 0 0 38px 0;
}

.hero-link {
  text-decoration: none;
  padding: 15px 48px;
  color: #fff;
  background: #333333;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 290px;
}

.hero-link:hover {
  background-color: #FFBD54;
  color: #333333;
}

.hero-link:active {
  opacity: 0.6;
}

.hero {
  padding-top: 145px;
  background-image: url("../img/animals.png"), url("../img/parrot.png");
  background-repeat: no-repeat, no-repeat;
  background-size: auto 800px, auto 400px;
  background-position: calc(50% - 465px) -93px, calc(50% + 620px) 380px;
}

.blockquote-box {
  max-width: 1134px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.blockquote-text {
  max-width: 700px;
  text-align: center;
}

.quotation {
  display: block;
}

.quotation-left {
  margin-bottom: auto;
}

.quotation-right {
  margin-top: auto;
}

.line {
  width: 140px;
  color: #dbdbdb;
}

.blockquote-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.block-box {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 190px;
}

#services__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
  text-align: center;
  margin: 0 0 80px 0;
}

.services__list {
  position: relative;
  max-width: 1350px;
  padding: 0 44px;
  margin: 0;
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.services__item {
  display: flex;
  padding: 6px 6px 0 6px;
  background-color:  #e5e5e5;
}

.services__link {
  text-decoration: none;
  width: 193px;
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 30px 32px 28px 35px;
  border-radius: 5px;
  border-bottom: 12px solid #e5e5e5;
}

.services__link:hover {
  opacity: 0.8;
}

.services__link:active {
  opacity: 0.6;
}

.services__link--active {
  border-bottom: 12px solid #fff;
  border-radius: 5px 5px 0 0;
}

.services__img {
  margin-bottom: 22px;
}

.services__text {
  width: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin: auto;

}

.services__content {
  max-width: 1218px;
  margin-left: 50px;
  background-color: #fff;
  display: flex;
  padding: 42px 35px;
}

.services__content--box {
  max-width: 550pxpx;
  margin-left: 67px;
}

.services__content--text {
  max-width: 492px;
}

.services__content--img {
  display: block;
}

.services__link-bottom {
  vertical-align: baseline;
  text-decoration: none;
  padding: 15px 36px;
  display: inline-block;
  margin-right: 20px;
  background-color: #FFBD54;
  color: #fff;
  transition: 0.3s ease;
  border-radius: 3px;
}

.services__link-bottom:hover {
  background-color: #333333;
  color: #FFBD54;
}

.services__link-bottom:active {
  opacity: 0.6;
}

.services__link--right {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
}

.services__heading--bottom {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  margin: 0;
  margin-top: 32px;
  color: #333333;
}

.btn-slider {
  width: 14px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  background-color: transparent;
}

.btn-slider-left {
  background-image: url("../img/arrow-prev.png");
  position: absolute;
  left: 0;
  top: 50%;
}

.btn-slider-right {
  position: absolute;
  background-image: url("../img/arrow-next.png");
  right: -0px;
  top: 50%;
}

.services {
  margin-bottom: 127px;
}

.subscription {
  background-image: url("../img/dog.png");
  background-repeat: no-repeat;
}

.btn {
  border: 0;
}

.input-group {
  width: 335px;
  padding: 15px 0 14px 22px;
  border: 0;
  border-radius: 3px;
  margin: 278px 21px 73px 0;
  outline: 0;

}

.input-group:focus {
  box-shadow: 0 0 0 2px black;
}

.input-group:not(:placeholder-shown):invalid {
  color: red;
  box-shadow: 0 0 0 2px red;
}

.subscription__form {
  margin-left: 222px;
}

.articles__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
  text-align: center;
  margin: 80px 0;
}

.articles__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 153px;
  list-style-type: none;
  justify-content: space-between;
}

.articles__link--middle {
  display: flex;
}

.articles__item--box {
  padding: 0 34px;
}

.articles__item {
  width: 305px;
  background-color: #fff;
  border-radius: 3px;
}

.articles__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.articles__item:hover .lern-more{
  color: #FFBD54;
}

.articles__item--middle {
  width: 640px;
}

.articles__item:active {
  opacity: 0.8;
}

.articles__item:active .lern-more {
  color: #333333;
}

.time {
  width: 71px;
  margin-left: auto;
}

.articles__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;

}

.articles__title {
  margin: 0;
  width: 193px;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  color: #333333;
}

.articles__text {
  margin: 5px 0 0 0;
}

.lern-more {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.lern-more::before {
  display: inline-block;
  width: 23px;
  height: 20px;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/pet.png");
  margin-right: 4px;
}

.contact-bottom {
  border: 0;
  width: 226px;
}

.mapp {
  width: 462px;
  margin-right: 166px;

}

#contact {
  background-image: url("../img/bgcontact.png");
  background-repeat: no-repeat;
  display: flex;
  padding: 0;
  margin-bottom: 247px;
}

.contact__heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  margin: 0;
  margin-top: 30px;
}

.contact__text {
  width: 384px;
}

.contact__box {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-input {
  margin: 14px 0;

}

.box-servicess {
  position: relative;padding-right: 40px;
}
























@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {
    background-image: url("../img/bg@2x.png");
  }

  .address-clinic::before {
    background-image: url("../img/uycha@2x.png");
  }
}
